:root {
  --main-black: #060a19;
  --primary: #111a41;
  --secondary: #1c2a69;
  --primary-white: #fff;
  --secondary-white: #e6e6e6;
}

* {
  font-family: "Inter", sans-serif;
}

/* App ----------------------------------------------------------------------------------- */

.app-container {
  display: flex;
}

.content {
  width: 100%;
}

/* Sidebar ---------------------------------------------------------------------------------- */

.nav-link {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Mingle Logo ---------------------------------------------------------------------------------- */

.logo-container {
  display: flex;
}

.circle {
  height: 26px;
  width: 26px;
  border: 3px solid var(--primary-white);
  border-radius: 50%;
}

.left {
  transform: translateX(22%);
}

.right {
  transform: translateX(-22%);
}

/* LoadingSpinner ---------------------------------------------------------------------------------- */

.placeholder-hashtags {
  display: block;
  margin-bottom: 20px;
}

.placeholder-reactions {
  height: 40px;
}

.post-placeholder {
  margin-top: 60px !important;
}

.my-border {
  border-radius: 3px;
}

/* PostList ---------------------------------------------------------------------------------- */

.post-list {
  margin-top: 50px;
}

/* Post ---------------------------------------------------------------------------------- */

.reactions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.like-icon {
  font-size: 21px;
}

.card-title {
  font-weight: 700;
  margin-bottom: 16px;
}

.post {
  margin: 30px auto;
  box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.1),
    0px 50px 100px -20px rgba(50, 50, 93, 0.25),
    0px 30px 60px -30px rgba(0, 0, 0, 0.3);
  padding: 12px;
  width: 50%;
}

.badge {
  font-weight: 600;
  --bs-badge-padding-y: 0.45em;
}

.hashtag {
  margin: 0 3px;
}

.delete-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.delete-container:hover {
  background-color: rgb(241, 71, 88) !important;
}

.delete-button {
  height: 20px;
  width: 20px;
  color: white;
}

/* Create Post ---------------------------------------------------------------------------------- */

.create-post {
  width: 80%;
  margin-left: 10%;
  margin-top: 60px;
}

/* Footer ---------------------------------------------------------------------------------- */

.footer {
  background-color: #212529;
}

.copyright {
  color: var(--primary-white) !important;
  font-size: 1.2rem;
}
