.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.post-list {
  margin-top: 50px;
}

.post {
  margin: 20px auto;
  box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.1),
    0px 50px 100px -20px rgba(50, 50, 93, 0.25),
    0px 30px 60px -30px rgba(0, 0, 0, 0.3);
}

.hashtag {
  margin: 0 3px;
}

.delete-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  cursor: pointer;
  opacity: 0.86;
  transition: 0.3s ease-in-out;
}

.delete-container:hover {
  opacity: 1;
}

.delete-button {
  height: 20px;
  width: 20px;
  color: white;
}
